
.NewAlbum {
    margin: auto;

    h1{
        text-align: center;
        .mark{
            display: inline-block;
            padding: 0 1rem;
            border-radius: 5px;
            transform: rotate(-2deg);
            position: relative;
            left: calc(var(--rounded) * -1);
            color: #222;
            background-color: #c7fcff;

            .header {
                position: relative;
                display: inline-block;
                transform: rotate(2deg);
            }
        }
    }

    form {
        .form-group {
            width: 20rem;
            margin: auto;
            margin-top: 2rem;
    
            label {
                font-size: 1.2rem;
                font-weight: 600;
            }

            .input-wrapper {
                padding: 5px;
                border-bottom: 2px solid black;
                background-color: white;

                input {
                    width: 100%;
                    font-size: 1rem;
                    outline: none;
                    border: none;
                    text-align: center;
                }
            }
        }
    }
}