
.InviteUser {
    width: 20rem;

    .userSearch {
        margin: 2rem 0 1rem 0;

        .input-wrapper{
            display: flex;
            flex: 1;
            border: 2px solid black;
            border-radius: 5px;
            overflow: hidden;

            span {
                padding: 7px 12px;
                font-weight: bold;
                background-color: #ff7acf;
                color: white;
                margin: 0;
            }

            input {
                width: 100%;
                font-size: 1rem;
                outline: none;
                border: none;
                text-align: center;
            }
        }
    }
}