
.CopyModal {
    position: fixed;
    display: flex;
    background-color: #96f2d7;
    top: 0;
    left: 50%; 
    margin-top: 2rem;
    transform: translateX(-50%);
    padding: 10px 1rem;
    border-radius: 5px;
    z-index: 1;
    
    &.movedown {
    animation: movedown 2s linear forwards;
    
        @keyframes movedown {
            0% {
                opacity: 1;
                top:-5%;
            }

            8% {
                top:0;
            }
        }

    }

    .close {
        height: 100%;
        border-radius: 5px;
        margin-left: 1.2rem;
        cursor: pointer;
    }

    .close:after {
        content:"\d7";
        font-size: 20px;
        color:black;
        font-weight:bold;
        top:-53px;
        left:-2px
    }
    
}