
.NewPhoto {
    display: block; 
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
    z-index: 2; 
    overflow: auto;
    -ms-overflow-style: none; // IE에서 스크롤바 감춤
    &::-webkit-scrollbar { 
      display: none !important; // 윈도우 크롬 등
    }

    .modal-block {
        background-color: #fefefe;
        margin: auto; 
        margin-top: 3%;
        padding: 2rem;
        border: 2px solid black;
        width: 26.12rem;
        box-shadow: 4px 4px 0 #222;
        overflow: auto; 
        border-radius: 5px;
        text-align: center;
        z-index: 3; /* Sit on top */

        form {

            #addPhoto {
                border-radius: 10px;
                width: 100%;
                height: 21rem;
                border-radius: 5px;
                background-position: center;
                background-size: cover;
                background-image: url('/img/addPhoto.png');
                cursor: pointer;
            }
            
            #photoInput {
                display: none;
            }

            .textSection {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                
                .validMsg {
                    height: 1rem;
                    margin: 0.5rem 0;
                    font-size: 0.8rem;
                    color: #ff0033;
                }

                input {
                    padding: 10px 1rem;
                    font-size: 1rem;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid #999999;
                }
            
                textarea {
                    min-height: 8rem;
                    margin-top: 10px;
                    padding: 10px 1rem;
                    font-size: 1rem;
                    overflow-y: auto;
                    resize: none;
                    border: none;
                    outline: none;
                }
            }
        }
    }

    .btn-wrapper {
        display: flex;
    }
}