.Photo {
    position: relative;
    width: 32%;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 1.5rem;

    .img-wrapper{
        width: 100%;
        background-color: black;
        img {
            width: 100%;
        }
    }

    .cover {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);

        .date {
            margin-top: 1.5rem;
            text-align: center;
            color: white;
            font-weight: 600;
        }

        .photo-title {
            margin: auto;
            text-align: center;
            color: white;
            font-weight: 600;
        }
    }
}