
.SettingsModal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    .modal-block {
        background-color: #fefefe;
        margin: auto; /* 15% from the top and centered */
        margin-top: 15%;
        padding: 2rem;
        border: 2px solid black;
        width: 30rem;
        box-shadow: 4px 4px 0 #222;
        overflow: auto; /* Could be more or less, depending on screen size */
        border-radius: 5px;
        text-align: center;
    }

    .button-wrapper {
        display: flex;
        margin-top: 1rem;
    }
}