@import 'styles/util';
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap');

.LoginForm {
    margin: auto;

    h1 {
        font-size: 4rem;
        font-family: 'Bungee Shade', cursive;
        text-align: center;
        color:  black;
        margin: 0;
    }

    form {
        display: flex;
        margin: auto;
        flex-direction: column;
        margin-top: 3rem;

        .form-group {
            width: 18rem;
            margin: auto;

            label {
                font-weight: 600;
            }

            .input-wrapper {
                margin-top: 3px;
                padding: 5px;
                border: 1px solid black;
                border-radius: 5px;
                background-color: white;

                input {
                    width: 100%;
                    font-size: 1rem;
                    outline: none;
                    border: none;
                    text-align: center;
                }
            }

            &.mt-1 {
                margin-top: 1rem;
            }
        }

        .validMsg {
            height: 1rem;
            margin-top: 1rem;
            text-align: center;
            font-size: 0.9rem;
            color: #ff0033;
        }

    }
}