
.EntryMenu {
    margin: auto;
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;

        .userImg {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

        span {
            margin-top: 0.5rem;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        padding: 1rem 0; 

        li {
            width: 15rem;
            margin: auto;
            margin-bottom: 1rem;
            font-weight: 600;
            border: 2px solid black;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
            padding: 8px;
            background-color: #e3c0f5;
            box-shadow: 4px 4px 0 black;

            &:hover {
                box-shadow: 2px 2px 0 black;
            }
        }
    }

    .other {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}