@import 'styles/utils';

.Block {
    position: relative;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    min-width: 17.6rem;
    max-width: 17.6rem;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;

    @include media (">large") {
        &:nth-child(4n) {
            margin-right: 0;
        }
    }

    @include media("<=large") {
        min-width: 32%;
        max-width: 32%;
        margin-right: 0;
    }

    @include media("<=medium") {
        min-width: 48%;
        max-width: 48%;
        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    @include media("<=small") {
        min-width: 100%;
        max-width: 100%;
        padding: 1rem 2rem;
    }

    &:hover, &:active {
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    }

    .emoticon {
        display: flex;
        font-size: 1.5rem;
        text-align: center;
        min-height: 3rem;
        font-family: Arial, sans-serif;

        span {
            margin: auto;
        }
    } 
}