@import 'styles/util';

.Template {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .block {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        margin: auto;
    }

}