@import 'styles/utils';

.Header {
    display: flex;
    width: $uni-width;

    @include media("<=large") {
        width: $uni-width-large;
    }

    @include media("<=small") {
        width: $uni-width-small;
        flex-wrap: wrap;
     }

    padding: 2rem 0;
    margin: auto;

    h1{
        font-size: 2.8rem;
        font-weight: 900;
    }
}