
.DateSection {
    .date-btn-wrapper{
        display: flex;
        margin-bottom: 1rem;

        span {
            font-size: 1rem;
            font-weight: 600;
            border: none;
            margin: auto 0;
            margin-right: auto;
        }
    }
    .calendar-wrapper {
        position: fixed;
    }
}