.SelectBox {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    
    .inner-wrapper {
        margin: auto;
        width: 14rem;

        &.width-sm {
            width: 8rem;
        }

        .selected-wrapper{
            display: flex;
            margin: auto;
            padding: 5px 10px;
            border-radius: 5px;
            border: 2px solid;
            cursor: pointer;

            .selected {
                flex: 1;
                text-align: center;
            }

            img {
                margin: auto;
                width: 20px;
                height: 20px;
            }
        }
    }
}